<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.users.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.example.users.domain.User">
        <id property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="loginCount" column="login_count"/>
        <result property="lastLoginTime" column="last_login_time"/>
    </resultMap>


    <select id="findAll"  resultMap="userResultMap">
        select * from users
    </select>
</mapper>